@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-bar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    height: 3rem;
    background-color: #496CE8;
    width: 100%;
}
.nav-bar-container h2{
    color: white;
    font-size: 16px;
    font-weight: bold;
}
